/* THis is the stylesheet to my Portfolio Website */

.background {
    /* background-image: url(../Assignment02/Portfolio/IMG_2359.jpeg); */
    /* opacity: 0.5; */
    background-size: cover;
    background-color:rgb(205, 228, 235);
    margin: 0px;
} 

/* main::before {
    content: "";
    background-image: url(../Assignment02/Portfolio/IMG_2359.jpeg);
    background-size: cover
    opacity: 0.5;
    top: 0:border-image: left 0;
    bottom 0;
    right: 0;
    position: fixed;
    z-index: -1;
} */
    
h1 {margin: 10px;
    margin-top: 60px;
}

h2 {font-size:30px;
    color:black;
    margin: 10px;
}

p {padding: 10px;
margin: 10px;
font-size: 20px;
}

.text {
padding-top: 10px;
margin-top: 10px;
}

#profilePic { 
    border: 5px solid Navy;
    float: left;
    padding: 0px;
    margin: 27px;
    margin-bottom: 10px;
    height: 200px;
}

.mb-3 {
    border: 5px solid Navy;
    padding: 10px;
    margin: 10px;
    height: 50;
    width: 50;
}

.navbar {padding-top: 0px;
        padding-bottom: 0px;
}

.contactnav {padding-top: 10px;
    padding-bottom: 10px;}

/* .portfolionav {padding-top: 10px;
        padding-bottom: 10px;} */

.navbar-collapse {
    align-items: center;
    width: 30%;
}
.container-fluid {
    background-color:cornflowerblue;
    color: white !important;
    margin-bottom: .5px;
}
.navbar-brand {
    color: white;
    font-size:30px;
}

.navbar-nav {
    color: white;
}
.nav-link {
    color: white;
    font-size:30px;
}

.portfoliopic { 
    border: 5px solid Navy;
    float: left;
    padding: 10px;
    margin: 20px;
    height: 350px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
    color:navy;
    text-align: center;
    font-size: 6px;
    margin-top: 5px;
 }
.img {
    border-color: navy;
    border-style: solid;
    border: 10px solid Navy;
    border-image: auto;
  }